body {
  font-family: 'Cabin Sketch', cursive;
  color: white;
}

#background {
  background-image: url("../images/backGround.jpg");
  background-size: cover;
  height: 670px;
}

main {
  height: 350px;
  width: 300px;
  text-align: center;
  margin: -5px auto;
  padding: 1px;
  overflow: auto;
  border-style: solid;
  border-width: 20px;
  border-color: rgba(26, 0, 20,.1);
  background-color: rgba(26, 0, 20,.7);
  border-radius: 10px
}


ul {
  margin: 0;
  padding: 0;
}

li {
  padding: 1px;
  position: relative;
  width: 98px;
  height: 98px;
  float: left;
  overflow: hidden;
}

li img {
  position: absolute;
  height: 300px;
  width: 300px;
}

#id0 img{
  top: 0px;
  left: 0px;
}

#id1 img {
  top: 0px;
  left: -100px;
}

#id2 img{
  top: 0px;
  left: -200px;
}

#id3 img{
  top: -100px;
  left: 0px;
}

#id4 img{
  top: -100px;
  left: -100px;
}

#id5 img{
  top: -100px;
  left: -200px;
}

#id6 img{
  top: -200px;
  left: 0px;
}

#id7 img{
  top: -200px;
  left: -100px;
}

#idx img{
  top: -200px;
  left: -200px;
}

#shuffle {
  height: 50px;
  width: 300px;
  opacity: 0;
}

#top {
  height: 200px;
  background: -webkit-linear-gradient(rgba(26, 0, 0,1), rgba(0,0,0,0));
}

h1 {
  font-size: 3em;
  text-align: center;
  margin: 0 auto;
  padding-top: 80px;
}
span {
  line-height: 60px;
  color: white;
  font-size: 1.5em
}
p {
  padding-top: 40px;
  font-size: 1.5em;
}

#bottom {
  height: 90px;
  margin-top: 0px;
  text-align: center;
  background: -webkit-linear-gradient(rgba(0,0,0,0), rgba(26, 0, 0,1));
}
.popup {
  height: 150px;
  width: 200px;
  margin-top: -130px;
  color: green;
}

.showPopup {
  height: 300px;
  width: 200px;
  border: 1px solid black; 
  margin-top: -365px;
}

#rules {
  float: right; 
  margin-right: 40px;
}

#op {
  float: left;
  margin-left: 40px
  background-image: url('images/oReallyMeme.jpg')
}
