header {
  background-color: grey;
  line-height: 100px;
  margin: -100 auto;
}

main {
  height: 300px;
  width: 300px;
  text-align: center;
  margin: 0px auto;
  border: 1px solid black ;
  overflow: auto;
}
h1 {
  font-family: 'Fruktur', cursive;
  font-size: 3em;
  text-align: center;
  margin: 100px auto;
}


ul {
  margin: 0;
  padding: 0;
}

li {
  border: 1px solid black;
  position: relative;
  width: 98px;
  height: 98px;
  float: left;
  overflow: hidden;
}

li img {
  position: relative;
}

li:nth-child(1) img{
  top: 0px;
  left: 0px;
}

li:nth-child(2) img {
  top: 0px;
  left: -100px;
}

li:nth-child(3) img{
  top: 0px;
  left: -200px;
}

li:nth-child(4) img{
  top: -100px;
  left: 0px;
}

li:nth-child(5) img{
  top: -100px;
  left: -100px;
}

li:nth-child(6) img{
  top: -100px;
  left: -200px;
}

li:nth-child(7) img{
  top: -200px;
  left: 0px;
}

li:nth-child(8) img{
  top: -200px;
  left: -100px;
}

#x {
  background: red;

}


#buttons {
  padding: 20px;
  margin: 0 auto;
  text-align: center;
  height: 50px;
}

button {
  height: 50px;
  width: 100px;
}
